<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>회원가입 페이지</title>
<link rel="stylesheet" href="/css/headerFooter.css">
<link rel="stylesheet" href="/css/memberRegister.css">

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="/js/memberRegister.js"></script>

</head>
<body>
	<header>
		<h1>회원가입 페이지</h1>
	</header>

	<div class="container">
		<div class="registerDiv">
			<!-- @{/register-member} 부분은 MemberController의 @PostMapping("/register-member")와 연결-->
			<form th:action="@{/register-member}" method="post" th:object="${member}">
				<label>id : </label><br>
				<input type="text" th:field="*{mem_id}" id="mem_id_box" required><br>
				<span id="idRegexMsg"></span><br>
				
				<label>이름 : </label><br>
				<input type="text" th:field="*{mem_name}" id="mem_name_box" required><br>
				<span id="nameRegexMsg"></span><br>
				
				<label>닉네임 : </label><br>
				<input type="text" th:field="*{mem_nickname}" id="mem_nickName_box" required><br>
				<span id="nickNameRegexMsg"></span><br>

				<label>비밀번호 : </label><br>
				<input type="password" th:field="*{mem_pw}" id="mem_pw_box" required><br>
				<span id="pwRegexMsg"></span><br>
					
				<label>비밀번호 확인 : </label><br>
				<input type="password" id="mem_pwConfirm_box" required><br>
				<span id="pwConfirmMsg"></span><br> <label>주소 : </label><br>
				<input type="text" th:field="*{mem_address}" placeholder="필수아님"><br>

				<label>이메일 : </label><br>
				<input type="text" th:field="*{mem_email}" placeholder="필수아님"><br>
				
				<label>휴대폰 : </label><br>
				<input type="text" th:field="*{mem_phone}" placeholder="필수아님"><br>
				
				<label>생년월일 : </label><br>
				<input type="text" th:field="*{mem_ssn}" placeholder="필수아님"><br>

				<label>성별 : </label><br>
				<input type="text" th:field="*{mem_gender}" id="mem_gender_box" required placeholder="M/F"><br>
				<span id="genderRegexMsg"></span><br>

				
				<button id="joinToggle">회원가입하기</button>
			</form>
		</div>
		<div class="sideDiv">
			<h1>웹툰광고</h1>
			<img src=/images/kunekune-pigs3.jpg>
		</div>
	</div>

	<footer>
		<p>&copy;2024 웹툰 . All Rights Reserved.</p>
	</footer>
</body>
</html>