<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Webtoon Upload</title>
<link rel="stylesheet" href="/css/webtoonUpload.css">
</head>
<body>
	<div class="container">

		<h1>웹툰 업로드</h1>
		
		<form action="/web-upload" method="post" enctype="multipart/form-data">
			<div>
				<label>웹툰이름 : </label>
				<input type="text" th:field="${w.web_name}" required>
			</div>
			<div>
				<label>작가이름/닉네임 : </label>
				<input type="text" th:field="${w.web_author}" required>
			</div>
			<div class="radio">
				<label>장르 : </label><br>
				<label><input type="radio" name="장르" value="액션" th:field="${w.web_genre}" required>액션</label>
				<label><input type="radio" name="장르" value="판타지" th:field="${w.web_genre}" required>판타지</label>
				<label><input type="radio" name="장르" value="스릴러" th:field="${w.web_genre}" required>스릴러</label>
				<label><input type="radio" name="장르" value="로맨스" th:field="${w.web_genre}" required>로맨스</label>
				<label><input type="radio" name="장르" value="일상" th:field="${w.web_genre}" required>일상</label>
				<br>
				<label><input type="radio" name="장르" value="개그" th:field="${w.web_genre}" required>개그</label>
				<label><input type="radio" name="장르" value="무협/사극" th:field="${w.web_genre}" required>무협/사극</label>
				<label><input type="radio" name="장르" value="드라마" th:field="${w.web_genre}" required>드라마</label>
				<label><input type="radio" name="장르" value="감성" th:field="${w.web_genre}" required>감성</label>
				<label><input type="radio" name="장르" value="스포츠" th:field="${w.web_genre}" required>스포츠</label>		
			</div>
			<br>
			<div>
				<label>작품 한 줄 요약 : </label>
				<input type="text" th:field="${w.web_summary}" required>
			</div>
			<div>
				<label>줄거리 : </label>
				<input type="text" th:field="${w.web_story}" required>
			</div>
			<div class="radio">
				<label>연재요일/희망요일 : </label><br>
				<label><input type="radio" name="요일" value="월요일" th:field="${w.web_day}" required>월요일</label>	
				<label><input type="radio" name="요일" value="화요일" th:field="${w.web_day}" required>화요일</label>	
				<label><input type="radio" name="요일" value="수요일" th:field="${w.web_day}" required>수요일</label>	
				<label><input type="radio" name="요일" value="목요일" th:field="${w.web_day}" required>목요일</label>	
				<label><input type="radio" name="요일" value="금요일" th:field="${w.web_day}" required>금요일</label>	
				<label><input type="radio" name="요일" value="토요일" th:field="${w.web_day}" required>토요일</label>	
				<label><input type="radio" name="요일" value="일요일" th:field="${w.web_day}" required>일요일</label>	
				<label><input type="radio" name="요일" value="자유연재" th:field="${w.web_day}" required>자유연재</label>	
			</div>
			<br>
			<div>
				<label>대표이미지 : </label>
				<input type="file" th:field="${w.web_image_path}" required>
			</div>
			<br>
			<button>업로드</button>
		</form>
	</div>
</body>
</html>