body{
	margin: 0;
	padding: 0;
	background-color: orange;
}

.container {
	
	
	text-align: center;
	
	background-color:white;
	
	padding:1px;

}

button {
	border: none;
	border-radius: 10px;
	background-color: aliceblue;
	color: gray;
	width: 150px;
	height: 100px;
	
	margin-right: 10px;
	font-size: larger;
	box-shadow: 0 0 20px gray;
	
	margin-bottom: 50px;
	
}

button:hover {
	background-color: gray;
	color: aliceblue;
	cursor: pointer;
}
.container p{
	text-align: right;
	color: red;
	margin-right: 10px;
}