body{
	margin:0;
}
.container{
	display:flex;
}

.infoDiv{
	flex:2;
	margin:30px;
}
.sideDiv{
	flex:1;
}

p{
	background-color:aliceblue;
	width:300px;
	padding:10px;
}
.infoDiv div{
	margin-bottom:30px;
}
button{
	border:none;
	border-radius:5px;
	padding:10px;
	background-color:red;
	color:white;
}
button:hover{
	background-color:black;
	cursor:pointer;
}
img{
	width:400px;
	margin-right:10px;
}