<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mybatis db연결 후 값 전달과정생략해줌 sql에서처럼 습관적으로 세미콜론; 붙이지말기-->
<mapper namespace="webtoon.semi.mapper.MemberMapper">
	<insert id="insertMember" parameterType="webtoon.semi.dto.Member"><!-- id MemberMapper.java 메서드와 일치 -->
		INSERT INTO member (
			mem_code, mem_id, mem_name, mem_nickname, mem_pw,
			mem_address, mem_email, mem_phone, mem_ssn,
			<!--  mem_join_date,--> mem_gender
		)
		VALUES (<!-- #{mem_code} 를 시퀀스처리하는데 적어서오류 -->
		member_seq.NEXTVAL, #{mem_id}, #{mem_name}, #{mem_nickname}, #{mem_pw},
		#{mem_address}, #{mem_email}, #{mem_phone}, #{mem_ssn},
		<!-- #{mem_join_date} --> #{mem_gender}
		)
	</insert>
	
	<select id="getAllMember" resultType="webtoon.semi.dto.Member"><!-- id MemberMapper.java 메서드와 일치 -->
		SELECT * FROM member
	</select>
</mapper>